#restic environment variables

export AWS_ACCESS_KEY_ID={{ s3_backup_access_key }}
export AWS_SECRET_ACCESS_KEY={{ s3_backup_secret_key }}
export AWS_DEFAULT_REGION={{ s3_backup_bucket_region }}
export RESTIC_REPOSITORY={{ s3_backup_bucket_URL }}
export RESTIC_PASSWORD={{ restic_repository_password }}
